version: "3"

services:
  flask-app:
    build: .
    ports:
      - "8080"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - mysql-flask-app-network
    entrypoint: ["sh", "./entrypoint.sh"]

  db:
    build: mysql/.
    restart: always
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
#      - mysql-flask-app-volume:/var/lib/mysql
#      - mysql-flask-app-volume-config:/etc/mysql
    ports:
      - "3306:3306"
    networks:
      - mysql-flask-app-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD" ]
      interval: 5s
      timeout: 5s
      retries: 5


  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - flask-app
    networks:
      - mysql-flask-app-network

networks:
  mysql-flask-app-network:

#volumes:
#  mysql-flask-app-volume:
#  mysql-flask-app-volume-config:
