{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper" style="min-height: 626px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Amend Customer
        <small>...</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Edit User</li>
      </ol>
    </section>
    <section class="content">

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">User Profile</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Full Name:</span>
                            <input class="form-control" id="full_name" name="full_name" type="text" value="{{ user.full_name }}" placeholder="{{ user.full_name }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Job Title:</span>
                            <input class="form-control" id="job_title" name="job_title" type="text" value="{{ user.job_title }}" placeholder="{{ user.job_title }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Department:</span>
                            <input class="form-control" id="department" name="department" type="text" value="{{ user.department }}" placeholder="{{ user.department }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Email:</span>
                            <input class="form-control" id="email" name="email" type="text" value="{{ user.email }}" placeholder="{{ user.email }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Create Date:</span>
                            <input class="form-control" id="create_date" name="create_date" type="text" value="{{ user.create_date }}" placeholder="{{ user.create_date }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Till Opening Balance:</span>
                            <input class="form-control" id="till_o_balance" name="till_o_balance" type="text" value="{{ user.till_o_balance }}" placeholder="{{ user.till_o_balance }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Till Closing Blanance:</span>
                            <input class="form-control" id="till_c_balance" name="till_c_balance" type="text" value="{{ user.till_c_balance }}" placeholder="{{ user.till_c_balance }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">...</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Branch Code:</span>
                            <input class="form-control" id="branch_code" name="branch_code" type="text" placeholder="{{ user.branch_code }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Access Level:</span>
                            <input class="form-control" id="access_level" name="access_level" type="text" placeholder="{{ user.access_level }}" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Image :</span>
                            <input class="form-control" id="image_string" name="image_string" placeholder="{{ user.image_string }}"   type="text" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <img class="user-image" style="width: 50%;"  src="/static/img/user/{{ user.image_string }}">
                        </div>
                    </div>
                </div>
            </div>

    </section>

</div>

{% endblock %}