{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper" style="min-height: 626px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Amend Customer
        <small>...</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Amend Customer</li>
      </ol>
    </section>

    <!-- Main content -->
    <div class="content-header" style="margin-bottom: 0">
        <div class="col-md-12">

            <div class="row">
                <div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="alert alert-danger" role="alert">
                    {% for message in messages %}
                      <p style="position: relative;">{{ message }}</p>
                    {% endfor %}
                    </ul>
                   {% endif %}
                {% endwith %}
                </div>
                <div class="col-md-4">
                    <form method="post" action="{{ url_for('customer.account_search') }}">
                    <div class="box box-info">
                        <div class="box-header with-border">Search Account</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Account:</span>
                            <input class="form-control" id="account_number" name="account_number" type="number" aria-describedby="sizing-addon3" autofocus required>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary form-control"  type="submit">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form method="post" action="{{ url_for('customer.id_search') }}">
                    <div class="box box-info">
                        <div class="box-header with-border">Search Customer Sys ID</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Customer ID</span>
                            <input class="form-control" id="customer_id" name="customer_id" type="number" aria-describedby="sizing-addon3" required>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary form-control"  type="submit">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="box box-info">
                        <div class="box-header with-border">Search Customer Name</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Customer Name</span>
                            <input class="form-control" id="customer_name" name="customer_name" type="text" aria-describedby="sizing-addon3" disabled>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary form-control"  type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <form class="form-group" method="POST" action="{{ url_for('customer.amend_cus') }}">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">New Customer</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Name:</span>
                            <input class="form-control" id="first_name" name="first_name" type="text" value="{{ record.first_name }}" placeholder="{{ record.first_name }}" aria-describedby="sizing-addon3" autofocus>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Surname:</span>
                            <input class="form-control" id="last_name" name="last_name" type="text" value="{{ record.last_name }}" placeholder="{{ record.last_name }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">D.O.B</span>
                            <input class="form-control" id="dob" name="dob" type="date" value="{{ record.dob }}" placeholder="{{ record.dob }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Gender</span>
                            <input class="form-control" id="gender" name="gender" type="text" value="{{ record.gender }}" placeholder="{{ record.gender }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Phone:</span>
                            <input class="form-control" id="contact_number" name="contact_number" type="text" value="{{ record.contact_number }}" placeholder="{{ record.contact_number }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">E-mail:</span>
                            <input class="form-control" id="email" name="email" type="email" value="{{ record.email }}" placeholder="{{ record.email }}" aria-describedby="sizing-addon3" >
                        </div><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">...</div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Address:</span>
                            <input class="form-control" id="address" name="address" type="text" value="{{ record.address }}" placeholder="{{ record.address }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Country:</span>
                            <input class="form-control" id="country" name="country" type="text" value="{{ record.country }}" placeholder="{{ record.country }}" aria-describedby="sizing-addon3" >
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Account Number:</span>
                            <input class="form-control" id="acc_number" name="acc_number" type="number" value="{{ record.acc_number }}" placeholder="{{ record.acc_number }}" aria-describedby="sizing-addon3">
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Balance:</span>
                            <input class="form-control" id="working_bal" name="working_bal" type="text" value="{{ record.working_bal }}" placeholder="{{ record.working_bal }}" aria-describedby="sizing-addon3" disabled="disabled">
                        </div><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Acc Type:</span>
                            <select class="form-control" name="account_type"  required>
                                <option>{{ record.account_type }}</option>
                                {% for i in account %}
                                <option>{{ i.acc_type }}</option>
                                {% endfor %}
                            </select>
                        </div><br>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary form-control"  type="submit">Submit</button>
                        </div><br>
                    </div>
                </div>
            </div>


        </form>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}