{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 626px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Open Till
                <small>...</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Open Till</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header">Open Till</div>
                            {% if not teller_linked %}
                                <form method="POST" action="">
                                    <div class="box-body">
                                        {{ form.hidden_tag() }}
                                        <div class="col-md-3 has-feedback">
                                            <div class="input-group input-group-sm">
                                                {% if form.teller_num.errors %}
                                                    {{ form.teller_num.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.teller_num(class="form-control", autofocus=true) }}
                                                    {% for error in form.teller_num.errors %}
                                                        <div class="help-block">
                                                            <span class="with-error" style="color: red;"><small>{{ error }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.teller_num.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.teller_num(class="form-control", autofocus=true) }}
                                                {% endif %}
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group input-group-sm">
                                                {% if form.teller_num.errors %}
                                                    {{ form.branch.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.branch(class="form-control") }}
                                                    {% for error in form.branch.errors %}
                                                        <div class="help-block">
                                                            <span class="with-error" style="color: red;"><small>{{ error }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.branch.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.branch(class="form-control") }}
                                                {% endif %}
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group input-group-sm">
                                                {% if form.teller_num.errors %}
                                                    {{ form.o_balance.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.o_balance(class="form-control", id="o_balance") }}
                                                    {% for error in form.o_balance.errors %}
                                                        <div class="help-block">
                                                            <span class="with-error" style="color: red;"><small>{{ error }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.o_balance.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.o_balance(class="form-control") }}
                                                {% endif %}
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group input-group-sm">
                                                {% if form.teller_num.errors %}
                                                    {{ form.user_id.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.user_id(class="form-control", value= user.uid ) }}
                                                    {% for error in form.user_id.errors %}
                                                        <div class="help-block">
                                                            <span class="with-error" style="color: red;"><small>{{ error }}</small></span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.user_id.label(class="input-group-addon", id="sizing-addon3") }}
                                                    {{ form.user_id(class="form-control", value= user.uid) }}
                                                {% endif %}
                                            </div>
                                            <br>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="input-group box-footer">
                                        {{ form.submit(class="btn btn-primary form-control") }}
                                    </div>
                                </form>
                            {% else %}
                                <div class="box-footer">User Already Linked</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header">Linked Tellers</div>
                            <table class="table">
                                <tr>
                                    <th>Till ID</th>
                                    <th>Till Account</th>
                                    <th>Currency</th>
                                    <th>User</th>
                                    <th>User ID</th>
                                    <th>Department</th>

                                </tr>
                                {% for i in teller2 %}
                                    <tr>
                                        <td class="empty">{{ i.id }}</td>
                                        <td class="empty">{{ i.till_account }}</td>
                                        <td class="empty">{{ i.currency }}</td>
                                        <td class="empty">{{ i.user.full_name }}</td>
                                        <td class="empty">{{ i.user.uid }}</td>
                                        <td class="empty">{{ i.user.department }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}