{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper" style="min-height: 626px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Systems Settings
        <small>...</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>System</li>
        <li class="active">Add Branch</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content-header">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
    <section class="content">
        <div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="alert alert-warning" role="alert">
                {% for message in messages %}
                  <p style="position: relative;">{{ message }}</p>
                {% endfor %}
                </ul>
               {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">Add Branch</div>
                        <form method="POST" action="{{ url_for('settings.add_branch') }}">
                            <div class="box-body">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Branch Code</span>
                                <input class="form-control" id="branch_code" name="branch_code" type="text" aria-describedby="sizing-addon3" autofocus>
                            </div><br>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Description</span>
                                <input class="form-control" id="description" name="description" type="text" aria-describedby="sizing-addon3">
                            </div><br>
                            <div class="input-group input-group-sm">
                                <button class="btn btn-primary form-control"  type="submit">Submit</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>
{%  endblock %}