{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper" style="min-height: 626px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        My Till
        <small>...</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Till</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header">Warning</div>
                        <li>Always logout or lock the screen when you leave your workstation</li>
                        <li>Ensure the till opening balance tallies with the cash in hand</li>
                        <li></li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}